<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="footer-logo">
        <img
          class="footer-logo-img"
          src="/assets/thumbnail_SELO_AZULMARINHO.png"
          alt="Bonini & Bender Logo"
        />
      </div>
      <!-- <p class="footer-endereco">
        Rua Exemplo, 123 - Bairro Centro, Cidade/Estado
      </p> -->
    </div>
    <div class="footer-social">
      <a
        href="https://www.instagram.com/boniniebenderadvocacia?igsh=amJkN3hoaWM0bGpj"
        target="_blank"
        class="footer-social-btn"
        title="Instagram"
        ><i class="fab fa-instagram"></i
      ></a>
      <!-- <a
        href="https://www.facebook.com/"
        target="_blank"
        class="footer-social-btn"
        title="Facebook"
        ><i class="fab fa-facebook-f"></i
      ></a> -->
      <a
        href="https://wa.me/5551998272024"
        target="_blank"
        class="footer-social-btn"
        title="WhatsApp"
        ><i class="fab fa-whatsapp"></i
      ></a>
      <a
        href="mailto:contato@boniniebenderadvocacia.com.br"
        class="footer-social-btn"
        title="E-mail"
        ><i class="fas fa-envelope"></i
      ></a>
      <!-- <a
        href="https://www.linkedin.com/"
        target="_blank"
        class="footer-social-btn"
        title="LinkedIn"
        ><i class="fab fa-linkedin-in"></i
      ></a> -->
    </div>
    <p class="footer-direitos">
      &copy; 2025 Bonini & Bender. Todos os direitos reservados.
    </p>
  </div>
  <p class="credit">
    Site desenvolvido por
    <strong
      ><a href="https://linkedin.com/in/dev-ventura" target="_blank"
        >Ventura</a
      ></strong
    >
  </p>
</footer>
