<header>
  <div class="logo">
    <img
      src="/assets/thumbnail_SELO_AZULMARINHO.png"
      alt="Bonini & Bender Logo"
    />
  </div>

  <!-- Botão Menu Hamburguer -->
  <div class="menu-toggle">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <nav>
    <ul class="nav-list">
      <li><a href="../index.html">Home</a></li>
      <li><a href="/pages/sobre.html" id="sobre-link">Sobre</a></li>
      <li><a href="/pages/servicos.html">Serviços</a></li>
      <li><a href="/pages/contato.html">Contato</a></li>
    </ul>
  </nav>
</header>
